main {
    color: #ffffff;
    margin-left: 1em;
    margin-right: 1em;
}
img {
    height: 250px;
    width: auto;
    border: 5px solid #515858;
    border-radius: 20px;
    margin: 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  border-radius: 20px;
  border-spacing: 0;
}
table, th, td {
  border: 1px solid #515858;
}
th, td {
  padding: 10px 15px;
  text-align: left;
}
tr {
  display: table-row;
  margin: 0;
}
@media (max-width: 600px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    display: table-row;
    margin-bottom: 0;
  }

  th, td {
    display: table-cell;
    padding: 6px;
    border: 1px solid #515858;
  }

  img {
    display: block;
    width: calc(100% - 2em); 
    height: auto; 
    margin: 1em auto; 
    border-radius: 20px;
  }
}