main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h2 {
    color: #ffffff;
    margin-left: 1em;
}
.pictures {
    height: 350px;
    width: auto;
    border: 5px solid #515858;
    border-radius: 20px;
    margin: 1em;
    object-fit: cover;
    overflow: hidden;
}    
@media (max-width: 600px) {
    main {
        text-align: center;
        flex-direction: column;
    }
     h2 {
        margin-left: 0;
        text-align: center; 
    }    
    img,
    .pictures {
        width: 90%;
        height: auto;
        max-width: 350px;
        object-fit: contain;
    }
}
