.pictures {
    height: 250px;
    width: auto;
    border: 5px solid #515858;
    border-radius: 20px;
    display: inline-block;
    margin: 1em;
    margin-right: 1em;
    object-fit: contain;
    vertical-align: middle;
    align-items: center;
}
@media (max-width: 600px) {
    main {
        text-align: center;
    }
    img {
        display: block;
        margin: 1em auto;
        height: 200px;
    }
}