main {
    color: #ffffff;
    margin-left: 1em;    
}
@media (max-width: 600px) {
    main {
        text-align: center;
        margin-left: 0;
    }
    h2 {
        text-align: center;
        margin-bottom: 0.5em;
    }
    ul {
        list-style: none;
        padding: 0;               
        margin: 0 auto;            
        display: inline-block;    
        text-align: left;         
    }
    li {
        margin: 0.5em 0;          
}
}